# Ignore everything by default
*

# Allow only specific folders
!Array/
!Basic Maths/
!Patterns/

# Inside Array, ignore everything
Array/*

# Unignore files inside these folders recursively
!Array/*.py
!Basic Maths/*.py
!Patterns/*.py

# Allow only specific files from Array
!Array/largest.py
!Array/buySellStock.py
!Array/leaders.py
!Array/leftRotate.py
!Array/longestSubarray.py
!Array/maxConsecutive.py
!Array/MaximumSubarray.py
!Array/maxScoreSubarrayMins.py
!Array/moveZero.py
!Array/nextPermutation.py
!Array/numAppearsOnce.py
!Array/rearrangeElements.py
!Array/removeDuplicate.py
!Array/rotateArray.py
!Array/searchInSorted.py
!Array/secondLargest.py
!Array/sortColors.py
!Array/SortedOrnot.py
!Array/twoSum.py
!Array/unioOfSorted.py

