# Ignore everything
*

# Allow main folders
!Array/
!Basic Maths/
!Patterns/
!Binary Search/
!Stack/
!Recursion/
!Dynamic Programming/

# Allow subfolder
!Binary Search/BS on 1D arrays/

# Ignore everything inside them
Array/*
Basic Maths/*
Patterns/*
Stack/*
Binary Search/BS on 1D arrays/*

# Allow only .py files
!Array/*.py
!Basic Maths/*.py
!Patterns/*.py
!Stack/*.py
!Stack/*.js
!Recursion/*.py
!Recursion/*.js
!Binary Search/BS on 1D arrays/*.py
!Dynamic Programming/*.js
